Complete_phylogeny.nex filter=lfs diff=lfs merge=lfs -text
Fully_resolved_phylogeny.nex filter=lfs diff=lfs merge=lfs -text
Phylogenies/Small_phylogeny_4125[[:space:]]species.nex filter=lfs diff=lfs merge=lfs -text
new_phylogeny.nex filter=lfs diff=lfs merge=lfs -text
phylogeny.nex filter=lfs diff=lfs merge=lfs -text
